<!DOCTYPE html>
<html lang="fr">

<body>
    <div class="list-group">
        <a href="index.html#newmatch" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><img src="svg/plus-square.svg" style="margin-right: 10px;" alt="Saisir match">Saisir match</h5>
            </div>
        </a>
        <a href="index.html#myresults" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><img src="svg/book.svg" style="margin-right: 10px;" alt="Mes résultats">Mes Résultats
                </h5>
            </div>
        </a>
        <a href="index.html#allresults" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><img src="svg/page-search.svg" style="margin-right: 10px;" alt="Historique Global">Historique
                    global
                </h5>
            </div>
            <small class="text-muted">Tous les joueurs</small>
        </a>
        <a href="index.html#leaderboard" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><img src="svg/leaderboard-star.svg" style="margin-right: 10px;"
                        alt="Classement général">Classement général</h5>
            </div>
        </a>
        <a id="bouton-log-out" href="index.html" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><img src="svg/lock.svg" style="margin-right: 10px;"
                        alt="Déconnexion">Déconnexion</h5>
            </div>
            <small id="user-logged" class="text-muted"> Connecté en tant que {{login}} </small>
        </a>
    </div>
</body>

</html>